body{
  margin: 0px;
}

main{
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

h1{
  background-color: white;
}

html{
  background-color: white;
  text-align: center;
}


.navbar_ab ul{
  list-style-type: none;
  display: flex;
  background-color: rgb(112, 111, 111);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar_ab div{
  align-content: center;
  /* padding-left: 740px; */
  transform: translate(730px);
}


.navbar_ab a{
  color: white;
  font-size: large;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

.navbar_ab li{
  float: left;
}

.navbar_ab a:hover{
  background-color: rgb(66, 66, 66);
}

button{
  border-radius: 8px;
}

button:hover{
  background-color: rgb(66, 66, 66);
}

img{
  list-style-type: none;
}

footer{
  margin: 0px;
  padding:  0px;
}

b{
  margin: 10px;
  padding: 10px;
}